.img_camera {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    /* width: 100%; 親要素の幅に合わせる */
    /* height: 100vh; 画面の高さに合わせる */
    aspect-ratio: 200/150;
    width: 250px;
    margin: 0; /* マージンをリセット */
}

.title {
    color: #636363;
    text-align: center; /* タイトルの中央揃え */
}

.interphone_camera {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 15px 30px;
    background-color: #efefef;
    border-radius: 10px;
    border: solid 0.02px;
}

.interphone_frame {
    /* justify-content: center;
    align-items: center; */
    margin: 10px auto;
    padding: 30px 90px 300px 30px;
    border-radius: 10px;
    border: solid 1px;
    width: 300px;
}